<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech-to-Text Translation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">  <!-- Custom CSS -->
</head>
<body>
    <div class="container">
        <h1>Speech-to-Text Translation</h1>

        <label for="language">Select Language</label>
        <select id="language">
            {% for language, code in languages.items() %}
                <option value="{{ code }}">{{ language }}</option>
            {% endfor %}
        </select>

        <div class="controls">
            <button id="record-button">Record</button>
            <button id="stop-button" disabled>Stop</button>

            <!-- File Upload -->
            <label for="file-upload" class="upload-label">Upload File</label>
            <input type="file" id="file-upload" accept="audio/*">

        </div>

        <div id="result">
            <h2>Recognized Text:</h2>
            <p id="recognized-text"></p>

            <h2>Translated Text:</h2>
            <p id="translated-text"></p>

            <h2>Translated Audio:</h2>
            <audio id="translated-audio" controls></audio>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script> <!-- JavaScript -->
</body>
</html>
